/* aboutme */
.aboutme-box {
  display: flex;
  flex-direction: column;
}
.MuiCard-root::-webkit-scrollbar,
.sidebar-container::-webkit-scrollbar {
  display: none !important;
}
.email-box {
  width: 300px;
  flex-direction: column;
  padding: 0.7rem;
}
.email-image {
  margin-top: 0.5rem !important;
}
.conectme-form {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .email-box {
    width: 500px;
    flex-direction: row;
    padding: 0rem;
  }
  .email-image {
    margin-top: 0rem !important;
    margin-left: 1rem;
  }
  .conectme-form {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .aboutme-box {
    display: flex;
    flex-direction: row;
  }
}
/* loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
